@font-face {
    font-family: 'logo';
    src: url(font/Norse-Bold.otf);
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-align: center;
}

.backgroundImage{
    background: #fff url(image/halie-west-25xggax4bSA-unsplash.jpg);
}