@font-face {
    font-family: 'logo';
    src: url(font/Norse-Bold.otf);
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;   
}

.backgroundImage{
    background: #fff url(image/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    flex-shrink: 0;
    height: 100vh;
}

.logo{
    display: flex;
    background-color: rgba(0, 0, 0, 40%);
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

img{
    width: 20%;
    height: fit-content;
}

.logoText{
    font: 5em "logo";
    color: white;
}

form{
    display: flex;
}

.left, .right{
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: 1px solid blue;
    outline-offset: -1px;
    border-color: transparent;
    border-radius: 1px;
    box-shadow: 2px 2px 2px #d0d0d1;
}

input:invalid{
    outline: 1px solid red;
    outline-offset: -1px;
    border-color: transparent;
    border-radius: 1px;
}

button{
    background-color: #596D48;
}

